<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>About Chris Marker</title>
</head>
<body>
    <nav>
        <ul id = nav-menu>
            <li><a href="/">Homepage</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
        </ul>
    </nav>
    <section id = "biography">

        

        <p> Marker’s biography, taking the cue from Montaigne, is in his work. 
        The closest he got to presenting his life is in the highways and byways of the CD-ROM Immemory. 
        Biography is also, throughout his career, willfully obscured by his playful misdirections, his use of multiple pseudonyms, 
        the enormity of his anonymous work (esp. film commentaries and editing for other films), his well-known avoidance of interviews 
        and, in general, aversion for being in front rather than behind the camera. Rather than a Man Without Qualities, he is a 
        Man Without Biography. Still, there have been attempts, vigorously renewed of course since his passing.</p>

        <img src="/images/Chris-Marker-Bio.jpeg" alt="Chris Marker Portrait">
        
    </section>
</body>
</html>