<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Chris Marker Works</title>
</head>
<body>
    <nav>
        <ul id = nav-menu>
            <li><a href="/">Homepage</li></a>
            <li><a href="about">About</li></a>
            <li><a href="works">Works</li></a>
        </ul>
    </nav>
    <section id = "works">
        <div class = "marker-films">
            <a href="https://www.youtube.com/watch?v=LGDu7YOlVuE" target="_blank"> <img src="/images/Sans_Soleil_008.jpeg" alt="Sans Soleil"> </a>
            <h2>Sans Soleil</h2>
        </div>
        <div class = "marker-films">
            <a href="https://www.youtube.com/watch?v=6anMLFwHFqs" target="_blank"> <img src="/images/La_Jetee_001.jpeg" alt="La Jetee"> </a>
            <h2>La Jetée</h2>
        </div>
        <div class = "marker-films">
            <a href="https://www.youtube.com/watch?v=-yUdu6lVtLY" target="_blank"> <img src="/images/Mystere_Koumiko.png" alt="Le Mystere Koumiko"> </a>
            <h2>Le Mystère Koumiko</h2>
        </div>
        <div class = "marker-films">
            <a href="https://www.youtube.com/watch?v=gKkZiqGn9fU" target="_blank"> <img src="/images/Siberie_001.jpeg" alt="Lettre de Siberie"> </a>
            <h2>Lettre de Sibérie</h2>
        </div>
    </section>
    
</body>
</html>